@model IEnumerable<MVCEmployeeScheduler.Models.Service>


    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sample Invoice</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>
                        <img src="logo.png">
                        Logo here
                    </h1>
                </div>
                <div class="col-xs-6 text-right">
                    <h1>INVOICE</h1>
@foreach (var item in Model) {
                     @Html.DisplayFor(modelItem => item.ServiceTypeID)
}
                    <h1><small>Invoice #001</small></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>From: <a href="#">Your Name</a></h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Address <br>
                                Billing Address <br>
                                more <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-xs-offset-2 text-right">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Client: <a href="#">Roy Banks@*@Html.DisplayFor(modelItem => item.Name)*@</a></h4> 
                        </div>
                        <div class="panel-body">
                            <p>
                                500 Horel Rd. Salt Spring Island@*@Html.DisplayFor(modelItem => item.Address)*@<br>
                                1265 Beach Ave. Vancouver@*@Html.DisplayFor(modelItem => item.BillingAddress)*@ <br>
                                more <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / end client details section -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <h4>Service</h4>
                        </th>
                        <th>
                            <h4>Description</h4>
                        </th>
                        <th>
                            <h4>Hrs/Qty</h4>
                        </th>
                        <th>
                            <h4>Rate/Price</h4>
                        </th>
                        <th>
                            <h4>Sub Total</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fix Roof</td>
                        <td></td>
                        <td class="text-right">-</td>
                        <td class="text-right">$200.00</td>
                        <td class="text-right">$200.00</td>
                    </tr>
                    <tr>
                        <td>Fix Sink</td>
                        <td></td>
                        <td class="text-right">10</td>
                        <td class="text-right">75.00</td>
                        <td class="text-right">$750.00</td>
                    </tr>
                    <tr>
                        <td>Did Your Taxes</td>
                        <td></td>
                        <td class="text-right">5</td>
                        <td class="text-right">50.00</td>
                        <td class="text-right">$250.00</td>
                    </tr>
                </tbody>
            </table>
            <div class="row text-right">
                <div class="col-xs-2 col-xs-offset-8">
                    <p>
                        <strong>
                            Sub Total : <br>
                            TAX : <br>
                            Total : <br>
                        </strong>
                    </p>
                </div>
                <div class="col-xs-2">
                    <strong>
                        $1200.00 <br>
                        N/A <br>
                        $1200.00 <br>
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>Bank details</h4>
                        </div>
                        <div class="panel-body">
                            <p>Your Name</p>
                            <p>Bank Name</p>
                            <p>SWIFT : --------</p>
                            <p>Account Number : --------</p>
                            <p>IBAN : --------</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="span7">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>Contact Details</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Email : you@example.com <br><br>
                                    Mobile : -------- <br> <br>
                                </p>
                                <h4>Payment should be made by Bank Transfer</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="javascript:window.print()">
                <input type="submit" value="Print">
            </form>
        </div>
    </body>
</html>


